<div class="col-md-7 offset-md-3 mt-5 overflow-auto">
  <div class="alert alert-info">
    <header>Usuários para teste:</header>
    <ul>
      <li><strong>Administrador</strong> - U: italo P: italo</li>
      <li><strong>Usuário-triador</strong> - U: david P: italo<br /></li>
      <li><strong>Usuário-finalizador</strong> - U: mutao P: italo<br /></li>
    </ul>
  </div>
  <div class="card">
    <h4 class="card-header">Angular 8 Role Based Auth Example</h4>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Nome</label>
          <input
            type="text"
            formControlName="name"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Nome é obrigatório</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Senha é obrigatória</div>
          </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Login
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
          {{ error }}
        </div>
      </form>
    </div>
  </div>
</div>
