<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin"
      >Administrador</a
    >
    <a class="nav-item nav-link" routerLink="/screening" *ngIf="isScreening"
      >Usuário-triador</a
    >
    <a class="nav-item nav-link" routerLink="/finisher" *ngIf="isFinisher"
      >Usuário-finalizador</a
    >
    <a class="nav-item nav-link" (click)="logout()">Sair</a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
